$primary-color: #c4ac6f;

.contact {
    margin-top: 20%;
    padding-bottom: 20%;
    > title {
        width: 50%;
        position: relative;
        left: 20%;
        display: block;
        font-size: 2.8em;
        margin-bottom: 8%;
        :first-child {
            color: gray;
            opacity: 0.6;
            text-transform: uppercase;
        }
        :nth-child(2) {
            color: $primary-color;
            font-size: 1.5em;
            margin-left: -5px;
        }
    }
}


.contact-info {
    display: flex;
    justify-content: center;
    img {
        border-radius: 50%;
        opacity: .8;
    }

    > div {  
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: 50px;
        width: 40%;
        > div{
        font-size: 18px;
        line-height: 32px;
        color: white;
        mix-blend-mode: hard-light;
        }
        > button {
            width: 10%;
        }
    }
}


.contact-buttons {
    display: flex;
    width: 100%;
    > a {
        padding: 13px 34px;
        margin-right: 40px;
        margin-top: 20px;
        background-color: lighten($primary-color, 12%);
        border: none;
        transition: 300ms ease all;
        color: white;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none;
    }
    > a:hover {
        transform: scale(1.1)
    }

    > a:active {
        transform: translateY(1px)
    }
}