$primary-color: #c4ac6f;

.body {
    width: 100%;
    margin-top: 10%;

    > title {
        width: 50%;
        position: relative;
        left: 20%;
        display: block;
        font-size: 2.8em;
        margin-bottom: 15%;
        :first-child {
            color: gray;
            opacity: 0.6;
            text-transform: uppercase;
        }
        :nth-child(2) {
            color: $primary-color;
            font-size: 1.8em;
        }
    }
}


.projects {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.project-description {
    text-align: right;
    margin-top: 100px;
    width: 30%;
    color: white;
    opacity: .8;
    padding-left: 10%;
}

.project-description2 {
    margin-top: 10%;
    width: 30%;
    color: white;
    opacity: .8;
}

.hover-focus {
    width: 35%;
    position: relative;
    left: 70%;
    margin-top: 13%;
    z-index: 1000;
    overflow: hidden;
}



.title-card {
    position: relative;
        left: 20%;
    z-index: 500;
    margin-top: -150px;
    margin-left: -18%;
    margin-right: 1%;
    pointer-events: none;
    min-width: 24%;
        :first-child {
            font-size: 2em;
            color: gray;
            opacity: .6;
        }
        :nth-child(2) {
            font-size: 5em;
            font-weight: 500;
            color: #777;
            animation-delay: 0.6s;
            animation-duration: 700ms;
            &::after {
                animation-delay: 0.6s;
                animation-duration: 700ms;
            }
    }
}

.title-card-right {
    margin-left: -35%;
    position: relative;
    z-index: 500;
    margin-top: -150px;
    pointer-events: none;
        :first-child {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            font-size: 2em;
            color: gray;
            opacity: .6;
        }
        :nth-child(2) {
            letter-spacing: 4px;
            margin-top: 1%;
            margin: 5px;
            font-size: 5em;
            font-weight: 500;
            color: #777;
            animation-delay: 0.6s;
            animation-duration: 700ms;
            &::after {
                animation-delay: 0.6s;
                animation-duration: 700ms;
            }
    }
}

.title-hidden {
    visibility: hidden;
}

@media(min-width: 1800px) {
    .title-card-right {
        margin-left: -25%;
    }
}

.works-top-margin {
    margin-top: 40%;
}