@import 'TitleAnimation';
@import 'Navbar';
@import '../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import 'Social';
@import 'MainWrapper';
@import 'Works';
@import 'About';




body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  button {
    outline: none;
}
  
  .flex {
    display: flex;
  }

  .absolute {
    position: absolute;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
   
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #666; 
  }
  
.br {
  background-color: rgb(53, 53, 53);
}

.nothing {
  height: 100vh;
  width: 2px;
}
  